/* ================= Background Wrapper ================= */
.hl-payment-wrapper {
  min-height: 100vh;
  background-image: url("../logo/payment.png"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* ================= Glass Card ================= */
.hl-payment-card {
  position: relative;
  width: 100%;
  max-width: 420px;
  padding: 35px 28px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);

  overflow: hidden;
  color: #fff;
}

/* ================= Logo Watermark ================= */
.hl-logo-watermark {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.97;
  pointer-events: none;
  z-index: 0;
}

.hl-logo-watermark img {
  width: 250px;
  height: auto;
}

/* ================= Header ================= */
.hl-header {
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.hl-header h3 {
  font-weight: 800;
  margin-bottom: 6px;
  color: #fff;
}

.hl-header p {
  font-size: 14px;
  opacity: 0.85;
  text-transform: capitalize;
}

/* ================= Amount Box ================= */
.hl-amount-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.hl-amount-box span {
  font-size: 13px;
  opacity: 0.8;
}

.hl-amount-box h2 {
  margin-top: 6px;
  font-weight: 900;
  color: #fff;
}

/* ================= Error ================= */
.hl-error-box {
  background: rgba(240, 38, 58, 0.555);
  border: 1px solid rgba(219, 14, 35, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* ================= Pay Button ================= */
.hl-pay-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: 0.01px solid #ffffff;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(135deg, #ffffff00, #ffffff00);
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.hl-pay-btn:hover {
  transform: translateY(-2px);
  background: #136b01;
}

.hl-pay-btn:disabled {
  background: #888;
  cursor: not-allowed;
}

/* ================= Retry Button ================= */
.hl-retry-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: #fff;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

/* ================= Footer ================= */
.hl-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  opacity: 0.85;
  position: relative;
  z-index: 1;
}

.hl-footer i {
  margin-right: 6px;
  color: #00ffcc;
}
