.dropdown-select {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  height: 42px;
  line-height: 40px;
  padding: 0 12px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.dropdown-select:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #777;
  transform: translateY(-50%);
}

.dropdown-select .list {
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 6px;
  z-index: 1000;
  margin: 0 -11px;
  max-height: 250px;
  overflow: auto;
}

.dd-search {
  padding: 8px;
}

.dd-searchbox {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background: #f5f5f5;
}

.option.selected {
  font-weight: 600;
  color: #12cbc4;
}
