:root {
  --hl-yellow: #ffd60a;
  --hl-green: #22c55e;
  --hl-dark: #0f172a;
}


/* LEFT SIDE PANEL GRADIENT */
.brand-panel {
  background: radial-gradient(circle at top left, var(--hl-green), #111827);
}

/* PRIMARY BUTTON */
.btn-primary-auth {
  background: var(--hl-green);
  border-radius: 50px;
  color: #fff;
}

.btn-primary-auth:hover {
  background: #020617;
}


/* OUTLINE BUTTON FOR LOGIN */
.btn-outline-auth {
  border-radius: 50px;
  border: 1px solid #d4d4d8;
}

/* ROLE SELECTOR PILLS */
.role-pill {
  border: 1px solid #d4d4d8;
  border-radius: 50px;
  background: #f9fafb;
  padding: 6px 14px;
  font-size: 0.8rem;
  cursor: pointer;
}

.role-pill.active {
  background: var(--hl-dark);
  color: #fff;
  border-color: var(--hl-dark);
}

/* ROUNDED INPUT FIELDS */
.form-control {
  border-radius: 12px;
}

input::placeholder {
  color: #9ca3af !important;
  opacity: 1 !important;
  font-size: 14px;
}

p {
  font-size: 13px;
}
