/* ===== Terms & Conditions Unique CSS ===== */

.ect-body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;
}

.ect-wrapper {
  min-height: 100vh;
  padding: 30px 30px 0 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px;
  background-attachment: fixed;
}

.ect-container {
  max-width: 900px;
  margin: auto;
  background: rgba(255, 255, 255, 0.46);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.ect-title {
  text-align: center;
  color: #333;
  /* margin-bottom: 25px; */
  font-weight: bold;
  font-size: 35px;
}

.ect-heading {
  margin-top: 25px;
  color: #000000;
  font-size: 18px;
  /* text-align: center; */
  font-weight: 700;
  margin-left: 20px;
}

.ect-text {
  color: #000000;
  line-height: 1.7;
  font-size: 15px;
  padding-left: 50px;
}

.ect-footer-text {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #000000;
}

.tblx9-wrapper {
  width: 600px;
  margin-left: 90px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.tblx9-head {
  background: #f4f6f8;
}

.tblx9-th,
.tblx9-td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

.tblx9-row:hover {
  background-color: #f9fafb;
}

@media (max-width: 768px) {
  .ect-text {
    padding-left: 0;
  }

  .ect-wrapper {
    padding: 10px;
  }

  .ect-title {
    font-size: 30px;
  }
}
